#search{
    margin-left: 10px;
    float: left;
}
.srch{
    padding-right: 28px;
    position: relative;
}
.srch input{
    text-indent: 30px;
    padding-left: 0px;
}
.srch .fa-search{
    position: absolute;
    top: 10px;
    left: 7px;
    font-size: 15px;
}

.nav-link:hover{
    background-color: black;
    
  }
  .bg-dark{
    
    padding: 0px;
  }
  .form-inline{
    margin-left: 720px 
  }
  .srch{
      margin-left: 810px;     
  }

  