<html>
    <head>
        <title>Modern Shopping</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <div>
        <div id="header">
            <div id="header-top">
                <!-- <h3><b>SHOPPING</b>.COM</h3> -->
                <!-- <a src="#"><i class="fa fa-shopping-cart" id="fa-logo"></i></a> -->
             
                <!-- <input type="text" name="search" class="form-control" placeholder="Search"><i class="fa fa-search"></i> -->
                

                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-blue w3-large w3-hover-orange" id="header-top-cart"><i class="fa fa-shopping-cart"></i></button>
                <!-- <h3 style="color:orange;margin-top:14px">Modern</h3> -->
                <div id="id01" class="w3-modal">
                    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1500px">
                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                        <div class="row">
                            <div class="col-75">
                              <div class="container">
                                <form action="">
                                
                                  <div class="row">
                                    <div class="col-50">
                                      <h3>Billing Address</h3>
                                      <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                      <input type="text" id="fname" name="firstname" placeholder="Enter Your Firstname">
                                      <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                      <input type="text" id="email" name="email" placeholder="john@example.com">
                                      <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                      <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                                      <label for="city"><i class="fa fa-institution"></i> City</label>
                                      <input type="text" id="city" name="city" placeholder="New York">
                          
                                      <div class="row">
                                        <div class="col-50">
                                          <label for="state">State</label>
                                          <input type="text" id="state" name="state" placeholder="NY">
                                        </div>
                                        <div class="col-50">
                                          <label for="zip">Zip</label>
                                          <input type="text" id="zip" name="zip" placeholder="10001">
                                        </div>
                                      </div>
                                    </div>
                          
                                    <div class="col-50">
                                      <h3>Payment</h3>
                                      <label for="fname">Accepted Cards</label>
                                      <div class="icon-container">
                                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                                      </div>
                                      <label for="cname">Name on Card</label>
                                      <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                                      <label for="ccnum">Credit card number</label>
                                      <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                                      <label for="expmonth">Exp Month</label>
                                      <input type="text" id="expmonth" name="expmonth" placeholder="September">
                                      <div class="row">
                                        <div class="col-50">
                                          <label for="expyear">Exp Year</label>
                                          <input type="text" id="expyear" name="expyear" placeholder="2018">
                                        </div>
                                        <div class="col-50">
                                          <label for="cvv">CVV</label>
                                          <input type="text" id="cvv" name="cvv" placeholder="352">
                                        </div>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  <!-- <label>
                                    <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                                  </label>
                                  <input type="submit" value="Continue to checkout" class="btn"> -->
                                </form>
                              </div>
                            </div>
                            <div class="col-25">
                              <div class="container">
                                <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
                                <p><a href="#">Product 1</a> <span class="price">$15</span></p>
                                <p><a href="#">Product 2</a> <span class="price">$5</span></p>
                                <p><a href="#">Product 3</a> <span class="price">$8</span></p>
                                <p><a href="#">Product 4</a> <span class="price">$2</span></p>
                                <hr>
                                <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
                                <label>
                                    <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                                  </label>
                                  <input type="submit" value="Continue to checkout" class="btn">
                              </div>
                            </div>
                          </div>
                          
                    </div>
                <!-- </div> -->
                </div>

            </div>

            <div id="header-bottom">
                
                    <div class="header-bottom-menu">Home</div>
                    <div class="header-bottom-menu">Sale</div>
                    <div class="header-bottom-menu">Features</div>
                    <div class="header-bottom-menu">Blog</div>
                    <div class="header-bottom-menu">About</div>
                    <div class="header-bottom-menu">contact</div>
                
                    <!-- <div class="header-bottom-menu"> -->
                        <!-- <div  class="w3-container" class="header-bottom-men"> 
                            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large" id="header-bottom-menu-login">Login</button>
                                <div id="id01" class="w3-modal">
                                    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                                
                                        <div class="w3-center"><br>
                                            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                                <img src="../../assets/download.png" alt="Avatar" style="width:30%" class="Avatar">
                                        </div>

                                    <form class="w3-container" action="">
                                        <div class="w3-section">
                                            <label><b>Username</b></label>
                                                <input class="form-control" type="text" placeholder="Enter Username" name="usrname" required><br>
                                            <label><b>Password</b></label>
                                                <input class="form-control" type="password" placeholder="Enter Password" name="psw" required><br>
                                            <button class="form-control btn-success" type="submit">Login</button><br>
                                                <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
                                        </div>
                                    </form>
                                
                                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                        <br><button onclick="document.getElementById('id01').style.display='none'" type="button" class="btn btn-danger">Cancel</button>
                                        <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
                                    </div>
                                
                                    </div>
                                      </div> -->
                                </div>
                        </div> 
            </div>
            <div id="main">
                <!-- <div id="main-left-links" class="slidebar">
                    <div id="image-main-left-link">
                        <a href="#dresses">Dresses</a><br>
                        <a href="#dresses">Shirts</a><br>
                        <a href="#dresses">Jeans</a><br>
                        <a href="#dresses">T-Shirts</a><br>
                        <a href="#dresses">Blazer</a><br>
                        <a href="#dresses">Shoes</a><br>
                        <a href="#dresses">Gymwear</a><br>
                    </div>  
                </div> -->
                        <div id="main-content">
                            <div id="main-content-top">

                                    <!-- main-right-content-top-halfImage -->
                                <div class="main-content-top-iamge">
                                    <div class="main-top-content-top-iamge-text">
                                        <h1 style="font-size: 50px">SESION SHOPPING</h1>
                                    </div>
                                </div>
                                        
                            
                                <div id="main-content-top-product">
                                   
                                    <div class="card-1">
                                            <img src="../../assets/jeans3.jpg" alt="Denim Jeans" style="width:100%">
                                            <h1>Tailored Jeans</h1>
                                            <p class="price-jeans-1">$30</p>
                                            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                                            <p><button>Add to Cart</button></p>
                                    </div>
                                    <div class="card-1">
                                        <img src="../../assets/addto.png" alt="Denim Jeans" style="width:100%">
                                        <h1>Blazer</h1>
                                        <p class="price-jeans-1">$50</p>
                                        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                                        <p><button>Add to Cart</button></p>
                                    </div>

                                    <div class="card-1">
                                        <img src="../../assets/cartadd1.jpeg" alt="Denim Jeans" style="width:100%">
                                        <h1>Shirt</h1>
                                        <p class="price-jeans-1">$22</p>
                                        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                                        <p><button>Add to Cart</button></p>
                                    </div>

                                    <div class="card-1">
                                        <img src="../../assets/cartadd2.jpeg" alt="Denim Jeans" style="width:100%">
                                        <h1>Tailored Jeans</h1>
                                        <p class="price-jeans-1">$30</p>
                                        <!-- <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p> -->
                                        <p><button>Add to Cart</button></p>
                                    </div>
                                    <div class="card-1">
                                        <img src="../../assets/cartadd3.jpeg" alt="Denim Jeans" style="width:100%">
                                        <h1>Tailored Jeans</h1>
                                        <p class="price-jeans-1">$30</p>
                                        <!-- <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p> -->
                                        <p><button>Add to Cart</button></p>
                                    </div>
                                    <div class="card-1">
                                        <img src="../../assets/addto.png" alt="Denim Jeans" style="width:100%">
                                        <h1>Tailored Jeans</h1>
                                        <p class="price-jeans-1">$30</p>
                                        <!-- <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p> -->
                                        <p><button>Add to Cart</button></p>
                                    </div>

                                </div>
                                
                                <div class="main-content-bg">
                                    <!-- <h2 style="text-align:center;font: size 25px;">Products</h2> -->
                                </div>
                            </div>

                          <div id="main-content-bottom">
                            <div id="main-content-bottom-top">                    
                               <div id="about">
                                   <p><strong>About</strong></p>
                                   <p style="color:rgb(158, 147, 147)">About Us</p>
                                   <p style="color:rgb(158, 147, 147)">Corprate Sides</p>
                                   <p style="color:rgb(158, 147, 147)">Where To Buy</p>
                               </div>

                               <div id="support">
                                    <p><strong>Support</strong></p>
                                    <p style="color:rgb(158, 147, 147)">Contact</p>
                                    <p style="color:rgb(158, 147, 147)">Return</p>
                                    <p style="color:rgb(158, 147, 147)">Warranty</p>
                                    <p style="color:rgb(158, 147, 147)">Product Registration</p>
                                    <p style="color:rgb(158, 147, 147)">Help</p>
                               </div>
                            
                               <div id="legal">
                                <p><strong>Legal</strong></p>
                                <p style="color:rgb(158, 147, 147)">Privacy</p>
                                <p style="color:rgb(158, 147, 147)">Terms</p>
                                <p style="color:rgb(158, 147, 147)">Patents</p>
                               </div>

                                <div id="others">
                                    <p><strong>Others</strong></p>
                                    <p style="color:rgb(158, 147, 147)">Account</p>
                                    <p style="color:rgb(158, 147, 147)">Affiliate Program</p>
                                </div>
                            </div>

                            <div id="footer-fa">
                                <a href="http://www.facebook.com"><i class="fa fa-facebook" style="color:white;font-size: 30px;padding-left: 25px"></i></a>
                                <a href="http://www.twitter.com"><i class="fa fa-twitter" style="color:white;font-size: 30px;padding-left: 30px"></i></a>
                                <a href="http://www.instagram.com"><i class="fa fa-instagram" style="color:white;font-size: 30px;padding-left: 30px"></i></a>
                                <a href="http://www.youtube.com"><i class="fa fa-youtube-play" style="color:white;font-size: 30px;padding-left: 30px"></i></a>
                                <a href="http://www.pinterest.com"><i class="fa fa-pinterest" style="color:white;font-size: 30px;padding-left: 30px"></i></a>
                                <a href="http://www.skype.com"><i class="fa fa-skype" style="color:white;font-size: 30px;padding-left: 30px"></i></a>
                            </div>


                            </div> 
                        </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
   </body>
</html>